.slideshow-div {
  position: relative;
  margin: 60px auto;
  max-width: 400px;
  height: 400px;
  background: #fff;
  padding: 30px;
  text-align: center;
  border-radius: 15px;
  border: black;
  display: grid;
  grid-template-columns: 20% 55% 25%;
  grid-template-areas:
  'r-back-btn r-image r-next-btn';
}

.slideshow-div::before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  height: 400px;
  width: 90%;
  left: 5%;
  right: 5%;
  bottom: 0px;
  border-radius: 15px;
  box-shadow: 0 10px 50px rgba(0,0,0,0.4);
  margin: 60px auto;
}
.slideshow-img {
  width: 80%;
  height: auto;
  border-radius: 20px;
  cursor: pointer;
}
.slideshow-btn {
  border-radius: 5px;
  cursor: pointer;
}
