.App {
  text-align: center;
  min-height: 100%;
  min-width: 100%;
  /* z-index: -10; */
  position: absolute;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
}


.App-link {
  color: #09d3ac;
}
